.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: rgb(179, 164, 144); /* or whatever color you prefer */
  margin: 0; /* Optional: to remove default body margin */
  padding: 0; /* Optional: to remove default body padding */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(211, 211, 189);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(211, 211, 189);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 24px;
  font-family: 'Lora';
}

.popover-content {
  display: flex;
  align-items: center;
}
.icon-spacing {
  margin: 0 8px; /* Adjusts spacing around icons */
}