
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 28px;
  font-family: 'Lora';
  overflow: hidden;
  position: relative;
}

.like-button-container{
position: absolute; /* Position relative to the nearest positioned ancestor */          /* Align to the bottom */ 
bottom: 200px;
right: 400px;         /* Align to the right */
padding: 10px; 
font-size: 26px;
font-family: 'Lora';
opacity: 1; /* Start hidden */
transition: opacity 0.5s ease-in-out; /* Smooth transition for fading */
}

.fade-in-like {
opacity: 1;
}

.fade-out-like {
opacity: 0;
}

.like-animation{
  animation: jumpAndGrow 0.5s ease forwards;
  cursor: pointer;  
}

.text-input,
.poem-input {
  font-size: 28px;
  padding: 10px;
  font-family: 'Lora';
  border: none;
/*   border-bottom: 2px solid #000; /* Customize the border color as needed */
  background: transparent;
  outline: none;
  color: #000; /* Customize the text color as needed */
  resize: none; /* Prevent manual resizing */
  overflow: hidden;
}

.poem-input::placeholder {
  color: transparent;
}

.poem-input:focus::placeholder {
  opacity: 1;
  animation: blink 1s step-end infinite;
}

.text-slide {
  position: absolute;
  width: 100%;
  text-align: center;
}

/* General styles for the textarea animation container */
.textarea-fade {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;  /* Start with hidden by default */
  visibility: hidden; /* Start with hidden by default */
}

/* Specific styles for when the textarea is visible */
.fade-in {
  opacity: 1;
  visibility: visible; /* Ensure it’s visible when faded in */
}

/* Specific styles for when the textarea is not visible */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s; /* Delay visibility change */
}


.slide-in-up {
  animation: slide-in-up 0.5s ease-in-out both;
}

.slide-out-up {
  animation: slide-out-up 0.5s ease-in-out both;
}
.slide-in-down {
  animation: slide-in-down 0.5s ease-in-out both;
}

.slide-out-down {
  animation: slide-out-down 0.5s ease-in-out both;
}




@keyframes slide-in-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-in-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes jumpAndGrow {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) translateX(10px) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}



